---
import AnimatedShinyText from "@/components/magicui/animated-shiny-text"
import BlurFade from "@/components/magicui/blur-fade"
import Particles from "@/components/magicui/particles"
import { Button } from "@/components/ui/button"
import { Card, CardContent, CardDescription, CardHeader, CardTitle } from "@/components/ui/card"
import { INFORMATION } from "@/data/information"
import Layout from "@/layouts/Layout.astro"
import "@/styles/globals.css"
import { Calendar, Clock, MapPin } from "lucide-react"

const { offers } = INFORMATION
---

<Layout title="Ofertas">
	<section class="mx-auto max-w-5xl px-6 font-sans antialiased sm:pt-14">
		<div class="z-40 flex w-full flex-col items-center justify-between pt-6 sm:flex-row sm:pt-10">
			<div class="text-center sm:flex-1">
				{
					offers.length === 0 ? (
						<BlurFade delay={0.25 * 1} client:load>
							<p class="text-balance text-3xl font-semibold tracking-tighter text-muted-foreground text-neutral-800 sm:text-4xl">
								No hay ofertas disponibles
							</p>
						</BlurFade>
					) : (
						<AnimatedShinyText client:visible>
							<span class="text-balance text-3xl font-semibold tracking-tighter text-muted-foreground text-neutral-800 sm:text-4xl">
								Ofertas disponibles
							</span>
						</AnimatedShinyText>
					)
				}
			</div>
		</div>

		<div
			class={offers.length === 1
				? "z-30 flex flex-col flex-wrap items-center justify-center py-6 sm:pt-10 sm:flex-row"
				: "z-30 flex flex-col flex-wrap items-center justify-evenly py-6 gap-5 sm:pt-10 sm:flex-row"}
		>
			{
				offers.length === 0 && (
					<BlurFade delay={0.25 * 2} client:load>
						<p class="text-balance text-center text-3xl tracking-tighter text-muted-foreground text-neutral-700">
							Vuelve pronto a consultar las ofertas disponibles
						</p>
					</BlurFade>
				)
			}
			{
				offers.map((offer, idx) => (
					<Card className="max-sm:w-full z-30">
						<CardHeader>
							<CardTitle>{offer.title}</CardTitle>
							<CardDescription>{offer.description}</CardDescription>
						</CardHeader>
						<CardContent className="flex-grow">
							<div class="mt-2 flex flex-col items-center gap-1">
								<div class="flex items-center">
									<Clock className="mr-2 h-4 w-4" />
									<p class="font-bold">Inscripciones</p>
								</div>
								<div class="flex max-sm:flex-col sm:gap-4 gap-1">
									<p><span class="font-bold">Desde:</span> {offer.insc_init}</p>
									<p><span class="font-bold">Hasta:</span> {offer.insc_finish}</p>
								</div>
							</div>
							<div class="mt-2 flex flex-col items-center gap-1">
								<div class="flex items-center">
									<Calendar className="mr-2 h-4 w-4" />
									<p class="font-bold">Periodo académico</p>
								</div>
								<div class="flex max-sm:flex-col sm:gap-4 gap-1">
									<p><span class="font-bold">Desde:</span> {offer.start_date}</p>
									<p><span class="font-bold">Hasta:</span> {offer.finish_date}</p>
								</div>
							</div>
							<div class="mt-2 flex items-center justify-center">
								<MapPin className="mr-2 h-4 w-4" />
								<span class="font-bold">{offer.modality}</span>
							</div>
							<a href={offer.url} class="flex justify-center">
								<Button className="mt-4 bg-[#70b22d] hover:bg-[#3f6519]">Ver oferta</Button>
							</a>
						</CardContent>
					</Card>
				))
			}
		</div>
	</section>
	<Particles
		className="pointer-events-none absolute inset-0 z-10"
		quantity={100}
		ease={80}
		size={2}
		color="#a1fe41"
		refresh
		client:visible
	/>
</Layout>
